table, th, td {
  color: white;
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 10px;
};

html {
  width: 100%;
  height: 100%;
  background-color: red;
}

.body-section {
  display: flex;
}
.bolded-text {
  font-weight: 'bolder'
}

.table-position {
  padding: 10;
  margin: 10px;
  position: absolute;
  bottom: 20%;
}

.header-name {
  position: sticky;
  top: 0;
  padding: 0;
  margin: 10px;
  font-size: 25px;
  color: white;
  background-color: black;
  border: 1px solid white
}