<body>
  <div *ngIf="introduction" class="introduction">
    <div class="background-details">
      <div [@lightSpeedOut]="hinge" class="introductory">
          Hi, my name is Adam Dayniold.<br>
          I will show you how I ended up in my current state of work.<br>
        <div class="button-introduction">
          <button class="glow-on-hover" (click)="intro()" type="button">Take me there!</button>
        </div>
          (Portfolio is currently undergoing design maintenance)
      </div>
    </div>
  </div>
  <div [@fadeIn]="!introduction">
    <div *ngIf="!introduction" [class]=" lightSpeedIn ? 'non-introduction' : 'non-introduction-empty'">
      <div [@fadeIn]="timelineOccur">
        <div *ngIf="timelineOccur" class="timeline">
          <div [@bounceIn]="lightSpeedIn">
            <div *ngIf="lightSpeedIn" class="container left">
              <div class="content">
                <h2>December 2021 - Present</h2>
                <p>System Engineer at Tata Consultanty Services</p>
                <ul>
                  <li>Involved in the development of an Enterprise Portal for a major Malaysian telecommunications provider.</li>
                  <li>Implemented functionalities and developed multiple user interface components based on the client's user-stories and requirements.</li>
                  <li>Changing existing web application flow to better suit business requirements.</li>
                  <li>Maintained code reusability for future maintenance and provided better security support based on security team testing and recommendation.</li>
                  <li>Dealing with multiple teams and micro services that are built for the systems.</li>
                  <li>Provide on-site support to clients in case of error occurred during SIT and PVT testing.</li>
                  <li>Involved in daily scrum meeting with clients and team to update the status about current tasks.</li>
              </ul>
              </div>
            </div>
          </div>
          <div [@bounceIn]="lightSpeedIn">
            <div *ngIf="lightSpeedIn" class="container right">
              <div class="content">
                <h2>February 2020 - December 2021</h2>
                <p>Software Engineer at TalentCloud.ai</p>
                <ul>
                  <li>Fixed bugs and errors to ensure continuity of system.</li>
                  <li>Developed new modules and complex components (Learning and E-Travel) as it is highly requested by multiple clients.</li>
                  <li>Compiled, merged and deployed codes from staging to live using Git.</li>
                  <li>Involved in team weekly meeting to update everyone about status of current tasks.</li>
                </ul>
              </div>
            </div>
          </div>
          <div [@bounceIn]="lightSpeedIn">
            <div *ngIf="lightSpeedIn" class="container left">
              <div class="content">
                <h2>2017 - 2020</h2>
                <p>Graduated National University of Malaysia (UKM)</p>
              </div>
            </div>
          </div>
          <div [@bounceIn]="lightSpeedIn">
            <div *ngIf="lightSpeedIn" class="container right">
              <div [@lightSpeedIn]="lightSpeedIn" class="content">
                <h2>August 2019 - December 2019 (Intenship before graduating UKM)</h2>
                <p>Full Stack Web Developer Intern at WorldQuest international</p>
                <ul>
                  <li>Maintained current web application.</li>
                  <li>Developed new components for newly designed interface.</li>
                  <li>Learned how to read old codes and convert it to newer and maintainable codes.</li>
                  <li>Wrote functional code while using best practices to ensure readability for future maintenance.</li>
                </ul>
              </div>
            </div>
          </div>
          <div [@bounceIn]="lightSpeedIn">
            <div *ngIf="lightSpeedIn" class="container left">
              <div [@lightSpeedIn]="lightSpeedIn" class="content">
                <h2>2015 - 2017</h2>
                <p>Graduated Ungku Omar Polytechnic</p>
              </div>
            </div>
          </div>
          <div [@bounceIn]="lightSpeedIn">
            <div *ngIf="lightSpeedIn" class="container right">
              <div [@lightSpeedIn]="lightSpeedIn" class="content">
                <h2>November 2016 - April 2017 (Intenship before graduating Ungku Omar Polytechnic)</h2>
                <p>Front end Software Developer Intern at Tripviss Technology</p>
                <ul>
                  <li>Maintained current web application and developed new reusable components.</li>
                </ul>
              </div>
            </div>
          </div>
          <div [@bounceIn]="lightSpeedIn">
            <div *ngIf="lightSpeedIn" class="container left">
              <div [@lightSpeedIn]="lightSpeedIn" class="content">
                <h2>2013</h2>
                <p>Finished Sekolah Menengah Kebangsaan Sri Andalas</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

