.introduction {
  .background-details {
    color: transparent;
    width: 100%;
    height: 100vh;
    background-color: #e96443;
    background-image: linear-gradient(to right, #2b5876, #4e4376);
  }
}

.non-introduction {
  background-color: black;
  height: 100%;
  width: 100%;
}

.header-name {
  position: sticky;
  top: 0;
  padding: 10px;
  margin: 0;
  font-size: 25px;
  color: white;
  background-color: black;
  border: 1px solid white
}

.table-position {
  color: white;
  height: fit-content;

  table, td ,th {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
  }
}

@media screen and (max-width: 414px) {
  .introduction {
    .background-details {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #e96443;
      background-image: linear-gradient(to right, #2b5876, #4e4376);
    }
  }
  
  .non-introduction {
    background-color: black;
    height: 200%;
    width: 100%;
  }
}
